<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bootstrap Template</title>

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap JavaScript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">.col-xs-12</div>
        <div class="col-sm-8 col-sm-offset-2">.col-sm-8 .col-sm-offset-2</div>
        <div class="col-md-8 col-md-offset-2">.col-md-8 .col-md-offset-2</div>
        <div class="col-lg-6 col-lg-offset-3">.col-lg-6 .col-lg-offset-3</div>
      </div>
    </div>
  </body>

  <h1>タスク一覧</h1>

  <% if @tasks.any? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>ステータス</th>
          <th>タスク</th>
        </tr>
      </thead>
      <tbody>
        <% @tasks.each do |task| %>
          <tr>
            <td><%= link_to task.id, task %></td>
            <td><%= task.status %></td>
            <td><%= task.content %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <%= link_to '新規タスクの投稿', new_task_path, class: "tbn btn-primary" %>

</html>